{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"corejs": 2,
				"targets": {
					"browsers": ["last 2 version", "ie >= 11"]
				}
			}
		]
	],
	"plugins": ["@babel/plugin-syntax-dynamic-import", "@babel/plugin-proposal-class-properties"]
}
